// 
//    Version     : 1.1.0
//    Author      : Oliver THEBAULT
//    Copyright   : © Oliver THEBAULT - MIT License
//




//
// LESS VARIABLES boilerplate ==> should be paste in your main less file
//

// LESS VARIABLES 

// Colors

// Sizes

// Grid (optional variables for fixed layout)
//@grid: 940px;
//@column: 40px;
//@gutter: @column / 2;
//@unit-grid: @column + @gutter;
//@nb-column: ceil(@grid / @unit-grid);
//@nb-unit-grid: floor(@grid / @unit-grid);




//
// LESS MIXINS
//

// Mixins default params (this variables are required, just change their value if needed)
@boxshadow-spread: 0px;
@boxshadow-color: #cccccc;
@boxshadow-spread: 0px;
@textshadow-blur: 0px;
@textshadow-color: #cccccc;
@transition-duration: 500ms;
@transition-ease: linear;
@borderradius: 5px;
@contenteditable-border-color: #888888;

// Mixins
.box-shadow(@inset; @x; @y; @blur; @spread: @boxshadow-spread; @color: @boxshadow-color) when (@inset = inset){
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}
.box-shadow(@x; @y; @blur; @spread: @boxshadow-spread; @color: @boxshadow-color) when (ispixel(@x)){
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}
.box-shadow(@none) when (@none = none){
    -moz-box-shadow: @none;
    -webkit-box-shadow: @none;
    box-shadow: @none;
}
.text-shadow(@x; @y; @blur: @textshadow-blur; @color: @textshadow-color) when (ispixel(@x)){
    -moz-text-shadow: @arguments;
    -webkit-text-shadow: @arguments;
    text-shadow: @arguments;
}
.text-shadow(@none) when (@none = none){
    -moz-text-shadow: @none;
    -webkit-text-shadow: @none;
    text-shadow: @none;
}
.border-radius(@tl; @tr; @bl; @br){
    -moz-border-radius: @arguments;
    -webkit-border-radius: @arguments;
    border-radius: @arguments;
}
.border-radius(@tl: @borderradius){
    -moz-border-radius: @arguments;
    -webkit-border-radius: @arguments;
    border-radius: @arguments;
}
.linear-gradient(@color1; @color2){
    background: @color1; /* Fallback */
    background: -moz-linear-gradient(@color1, @color2);
    background: -ms-linear-gradient(@color1, @color2);
    background: -o-linear-gradient(@color1, @color2);
    background: -webkit-linear-gradient(@color1, @color2);
    background: linear-gradient(@color1, @color2);
}
.linear-gradient(@position; @color1; @color2){
    background: @color1; /* Fallback */
    background: -moz-linear-gradient(@position, @color1, @color2);
    background: -ms-linear-gradient(@position, @color1, @color2);
    background: -o-linear-gradient(@position, @color1, @color2);
    background: -webkit-linear-gradient(@position, @color1, @color2);
    background: linear-gradient(to @position, @color1, @color2);
}
.transition(@property; @duration: @transition-duration; @ease: @transition-ease) {
    // example for multiple properties: .transition(~"color, background-color"; 500ms);
    -moz-transition-property: @property;
    -moz-transition-duration: @duration;
    -moz-transition-timing-function: @ease;
    -webkit-transition-property: @property;
    -webkit-transition-duration: @duration;
    -webkit-transition-timing-function: @ease;
    transition-property: @property;
    transition-duration: @duration;
    transition-timing-function: @ease;
}
.opacity(@value){
    @ie-value: @value*100;
    zoom: 1; // Trigger hasLayout for ie5-7
    filter: alpha(opacity=@ie-value); // Opacity for ie5-9
    opacity: @value;
}
.placeholder-color(@color){
    // Chrome + Safari + Opera
    ::-webkit-input-placeholder {
        color: @color;
        opacity: 1;
        .border-radius(@borderradius);
    }
    // Mozilla Firefox 4-18
    :-moz-placeholder {
        color: @color;
        opacity: 1;
    }
    // Mozilla Firefox 19+
    ::-moz-placeholder {
        color: @color;
        opacity: 1;
    }
    // Internet Explorer 10+
    :-ms-input-placeholder {
        color: @color;
        opacity: 1;
    }
}
.letterspacing-photoshop-to-css(@photoshop-letterspacing){
    letter-spacing: (@photoshop-letterspacing / 1000em);
}
.hardware-acceleration{
    // Trigger hardware acceleration
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.antialiased{
    // Could be used to correct aliasing when hardware acceleration is ON
    -webkit-font-smoothing: antialiased;
}
.image-unselectable{
    // Apply this on image container, for those which should not be selectable
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &::-moz-selection{
        background-color: transparent;
    }
    &::selection{
        background-color: transparent;
    }
    img{
        pointer-events: none;
    }
}
.link-remove-focus{
    &:focus, &:active{
        text-decoration: inherit;
        border: 0 solid black;
        outline: 0 none;
        color: inherit;
    }
}
.fix-image-change-opacity-on-hover{
    // Put this fix on image if it moves on opacity change on hover
    // Warning, backface-visibility:hidden hides the image on page transition on iPhone
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;
}
.contenteditable-hover{
    [contenteditable]:hover:not(:focus) {
        outline: 1px dotted @contenteditable-border-color;
    }
}
.remove-focus-outline{
    // By default, Chrome add a blue border around focused input/textarea
    // it could be annoying when inputs have a border-radius property
    &:focus{
        outline: none;
    }
}
.clearfloat{
    clear: both;
}

